
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$main-color: #6394F8;
$light-text: #ABB0BE;
$mid-gray: #f6f6f6;
$medium-gray: #f6f6f6;
$light-gray: #f6f6f6;
$black: #000000;
$primary-color: #000000;

body { padding-top: 60px; }

.cart-button {
    position: relative;
}

.shopping-cart {
    display: none;
    margin: 20px 0;
  
    background: white;
    width: 320px;
    position: absolute;
    right:20px;
    border-radius: 3px;
    padding: 20px;  

    table{
        font-size: 14px;

        ul {
            font-size:13px;
            padding:0;
            margin:0;
            list-style-type: none;
        }
    }
}

//pages
@import "cart";




