#cart {
    i {
        padding-right: 5px;
    }
}

.main-cart {
 
    .cart-details {

        .totals {
            td {
                text-align: right;   
                border:0;
            }           
        }

        table {      

            tfoot {
                td {
                    font-weight: normal;
                }
            }

            tbody, tfoot {       

                tr {

                    td {

                        border-bottom:1px solid $primary-color;
                        padding:20px 0px 20px 0px;
                        vertical-align: middle;

                        ul {
                            padding:0px;
                            margin:0px;
                            list-style-type: none;
                            li {

                            }
                        }
                    }

                    .total_price {                     
                        text-align: right;
                        padding-right:50px;
                    }

                    .amount {


                        text-align: center;
                        input {
                            width:50px;
                            text-align: center;
                            margin:0px;
                            float: left;
                        } 

                        select {

                            text-align: center;
                            margin:0px;
                            float: left;
                            line-height: inherit;
                        }                
                    }

                    .title {

                        p {
                            font-weight: 700;
                            padding:0px;
                            margin: 0px;
                        }
                    }


                    .image {

                        padding-right:40px;

                        img {
                            vertical-align: middle;
                        }

                    }

                    .amount-input {
                        width: 60px;
                    }
                }

                .subtotal-block {

                    td {

                        border:0;
                        text-align: right;


                        h5 {
                            text-transform: none;
                            font-weight: 700;
                            font-size:14px;
                        }

                        ul {
                            font-size: 14px;
                        }
                    }

                    td {        
                        text-align: right;
                    }

                    .price {
                        padding-right:50px;
                    }
                }

                .sending-method, .payment-method {
                    td {        
                        padding-top:0;
                        padding-bottom:0;
                        border: 0;
                        vertical-align: middle;

                        label {
                            float:left;
                            line-height: 40px;
                            width:120px;
                            font-size: inherit;
                        }
                    }

                    .sending_block {

                        float:left;
                        position: relative;
                        height:75px;

                        .sending_method_alert {
                            position: absolute;
                            bottom:15px;
                            left:0px;
                            float: left;
                            width: 100%;
                        }
                    }
                }

                .tr-total, .tr-tax {
                    td {
                        border:0;
                        padding-top:0px;
                    }
                }

                .tr-total {
                    td {
                        font-weight: 600;
                        text-transform: uppercase;
                        vertical-align: top;

                        small {
                            font-weight: 300;

                        }
                    }
                }

                .next-button {
       
                    form {
                        padding-top:15px;
                    }
                    
                    td {
                        border:0;
                        padding-right:50px;

                    }
                }

                .product-row-wholesale {
                    td {
                        font-size:12px;
                        padding:0px;
                    }

                    .title {

                    }

                    .amount {
                        padding-top:10px;
                        padding-bottom:10px;

                    }
                }
            }

            thead {
                border-color: $primary-color;
                border-left:0px;
                border-right:0px;

                tr {

                    .price {
                        padding-right:50px;
                        width: 200px;
                    }

                    .amount {
                        width:100px;

                    }



                }
            }
        }   
    }
}


.order-summary {
    border:1px solid #9d9d9d;
    
    padding:30px!important;

    ul {
        list-style-position: inside;
        padding:0;
        font-size:12px;
    }

  
}