/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 380px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 280px;
  background-color: #f1e4e4;
  padding-top:30px;

}


.navbar-brand {
    padding: 23px 40px 10px 40px;
}



.highlight {
	height:400px;
	position: relative;


	h3 {
		position: absolute;
		background-color: white;
		line-height: 50px;
		padding-left:30px;
		padding-right:30px;


	}
}




.homepage-highlight-big {
	background: url('/images/homepage/homepage-big.jpg') center center;


    @media (max-width: $screen-sm-min) { 
            margin-bottom:30px;        
    }

	h3 {
		right:0px;
		bottom:30px;
		width:200px;	
	}
}

.homepage-highlight-small {
	background: url('/images/homepage/homepage-small.jpg') top center;
}

.homepage-highlight-small2 {
	background: url('/images/homepage/homepage-small-2.jpg') center center;
}

.populair-products {
	margin-top:30px;

	h2 {
		padding-bottom:30px;
	}
}
