.product {
	h1 {
		padding:0;
		margin:0;
	}

	.photos {
		.large-photo {
			padding-bottom:15px;
		}
	}

	.order-block {

		.variations {
			label {
				width: 100%;
			}

			select {

			}

			.row {
				padding-bottom:15px;
			}
		}
	}
}



.related-products {
	margin-top:60px;
}

.product-col {
	.text-block {
		text-align: center;
		padding-bottom: 60px;

	}
}